<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
<div class="bg-nav">
    <div class="img">
        <img class="logo" src="assets/img/icon-logo.png" alt="icon-logo">
        <div class="p_2">
            <p class="blue"><span class="span">Blue</span><span class="essay">ESSAY</span><span class="span">site</span>.net</p>
            <p class="p">Providing Custom Writing Services</p>
        </div>
    </div>
    <div class="bg-a">
        <div class="dropdown">
            <a class="dropdown-a" href="#">Services<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" id="arrow-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg></a>
        </div>
        <div class="dropdown">
            <a class="dropdown-a" href="#">About us<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" id="arrow-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg></a>
        </div>
        <a class="a" href="#">How it works</a>
        <img class="bg-phone" src="assets/img/phone_icon.png" alt="phone_icon">
        <div class="bg-buttons">
            <a class="bg-sign" href="#">Sign in</a>
            <a class="bg-order" href="#">order</a>
        </div>
        <img class="bg-burger" src="assets/img/burger.png" alt="burger">
    </div>
</div>
<div class="had-div">
    <div class="had-text">
        <h1 class="had-h1"><span class="had-blue">BlueEssaySite.net -</span><br> expert help for custom written</h1>
        <hr>
        <p class="had-p">On the other hand, we denounce with righteous indig-<br> nation and dislike men who are so beguiled and de-<br> moralized</p>
        <button class="had-button">place an order</button>
    </div>
    <img class="had-girl" src="assets/img/img_girl.png" alt="">
</div>
<div class="main-dropdown">
    <p class="main-text-1">Type of paper</p>
    <button class="main-button-1">Placeholder text <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
    </svg></button>
    <p class="main-text-2">Writer level</p>
    <button class="main-button-2">High school <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
    </svg></button>
    <p class="main-text-3">Urgency</p>
    <button class="main-button-3">High school <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
    </svg></button>
    <p class="main-text-4">Number of pages</p>
    <button class="main-button-4"><svg class="main-plus" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
    </svg> 2 <svg class="main-minus" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16"><path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/></svg></button>
    <button class="main-button-5">Continue</button>
</div>
<div class="cont-div">
    <img class="cont-img" src="assets/img/Welcome_.png" alt="">
    <div class="cont-text">
        <p class="cont-text-1">01 Welcome to Sitename</p>
        <h1 class="cont-text-2">Do you need essay help from<br> a good writing service?</h1>
        <p class="cont-text-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate aperiam deleniti sed sunt nam fugiat.<br> Repudiandae reprehenderit aliquam sed ipsa voluptatem eum, officiis nemo neque maiores fugiat<br> minus doloribus expedita vero eos sapiente cupiditate molestiae corrupti veniam adipisci natus perspiciatis<br> odio! Ut cupiditate dolores nobis assumenda, eum a, accusantium impedit nisi<br> ducimus, quisquam amet officia. Repudiandae, at porro. Doloremque.</p>
        <p class="cont-text-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate aperiam deleniti sed sunt nam fugiat.<br> Repudiandae reprehenderit aliquam sed ipsa voluptatem eum, officiis nemo neque maiores fugiat<br> minus doloribus expedita vero eos sapiente cupiditate molestiae corrupti veniam adipisci natus perspiciatis<br> odio! Ut cupiditate dolores nobis assumenda, eum a, accusantium impedit nisi<br> ducimus, quisquam amet officia. Repudiandae, at porro. Doloremque.</p>
    </div>
</div>
<div class="adv-div">
    <h4 class="adv-h4">02 Our advantages</h4>
    <h1 class="adv-h1">Advantages of Our Services</h1>
    <div class="adv-bg">
        <div class="adv-bg-1">
            <img class="adv-bg-img" src="assets/img/Vector.png" alt="Vector-1">
            <h2 class="adv-bg-h2-1">Professional-qualified<br> writing experts</h2>
            <p class="adv-bg-text-1">But i must explain to you how all this<br> mistaken idea of denouncing plea-<br> sure and praising pain was born</p>
        </div>
        <div class="adv-bg-2">
            <img class="adv-bg-img" src="assets/img/Vector1.png" alt="Vector-1">
            <h2 class="adv-bg-h2-2">Professional-qualified<br> writing experts</h2>
            <p class="adv-bg-text-2">But i must explain to you how all this<br> mistaken idea of denouncing plea-<br> sure and praising pain was born</p>
        </div>
        <div class="adv-bg-3">
            <img class="adv-bg-img" src="assets/img/Vector1.png" alt="Vector-1">
            <h2 class="adv-bg-h2-3">Professional-qualified<br> writing experts</h2>
            <p class="adv-bg-text-3">But i must explain to you how all this<br> mistaken idea of denouncing plea-<br> sure and praising pain was born</p>
        </div>
    </div>
    <button class="adv-button">Place an order</button>
</div>
<div class="row-div">
    <h4 class="row-h4">03 How it works</h4>
    <h1 class="row-h1">Our Simple 4-Step Procedure</h1>
    <div class="row-flex">
        <div class="row-flex-1">
            <img class="row-img-1" src="assets/img/Vector-Smart.png" alt="">
            <h3 class="row-h3-1">STEP 1</h3>
            <p class="row-p-1">Complete the short order<br> form to buy a paper from our<br> easy essay writing service.</p>
        </div>
        <img class="row-arrow" src="assets/img/arrow.png" alt="">
        <div class="row-flex-2">
            <img class="row-img-2" src="assets/img/Vector-Smart-2.png" alt="">
            <h3 class="row-h3-2">STEP 2</h3>
            <p class="row-p-2">We allocate your order to a<br> suitably-qualified writer with<br> specialist knowledge in, for<br> example, persuasive essay<br> writing if that is what you<br> want</p>
        </div>
        <img class="row-arrow" src="assets/img/arrow.png" alt="">
        <div class="row-flex-3">
            <img class="row-img-3" src="assets/img/Vector-Smart-3.png" alt="">
            <h3 class="row-h3-3">STEP 3</h3>
            <p class="row-p-3">Our Quality Assurance spe-<br> cialists then check the com-<br> pleted paper to ensure the<br> essay writing is of the highest<br> standard</p>
        </div>
        <img class="row-arrow" src="assets/img/arrow.png" alt="">
        <div class="row-flex-4">
            <img class="row-img-4" src="assets/img/Vector-Smart-4.png" alt="">
            <h3 class="row-h3-4">STEP 4</h3>
            <p class="row-p-4">The order you placed with our<br> essay writing service is then<br> sent to you before the dead-<br> line you set and is accompa-<br> nied by several<br> free-of-charge features</p>
        </div>
    </div>
</div>
<div class="dis-div">
    <h4 class="dis-h4">04 Discount</h4>
    <h1 class="dis-h1">Our discount program</h1>
    <p class="dis-p">By utilizing elements and principles of Material Design, we were<br> able to create a framework that incorporates</p>
</div>
<img class="lines" src="assets/img/lines.png" alt="">
<div class="test-div">
    <h4 class="test-h4">05 Testimonials</h4>
    <h1 class="test-h1">What our clients says</h1>
    <div class="test-cont">
        <img class="test-img" src="assets/img/man.png" alt="man">
        <img class="left-arrow" src="assets/img/left-arrow.png" alt="left-arrow">
        <p class="test-p">Using BestEssayService.net was possibly the best choise of my academic career. Even<br> though I work full-time, I managed to submit all my assignments on time owing to the<br> broad array of services on offer. No matter what written work I needed, help was avail-<br> able. I would give a full ten marks.</p>
        <img class="right-arrow" src="assets/img/right-arrow.png" alt="right-arrow">
        <h5 class="test-h5">Lorna Grey</h5>
        <p class="test-p-2">20 apr 2016 at 8:23</p>
    </div>
</div>
<div class="last-div">
    <div class="last-img">
        <img src="assets/img/icon-logo.png" alt="icon-logo">
        <div class="last_p_2">
            <p class="blue"><span class="span">Blue</span><span class="essay">ESSAY</span><span class="span">site</span>.net</p>
            <p class="p">Providing Custom Writing Services</p>
        </div>
    </div>
    <div class="last-list">
        <ul class="ul">
            <li>home</li>
            <li>about us</li>
            <li>order now</li>
            <li>disclaimer</li>
            <li>why us</li>
            <li>contacts</li>
            <li>blog</li>
        </ul>
    </div>
</div>
<div class="prelast-div">
    <div class="prelast-list">
        <hr class="prelast-hr">
        <div class="prelast-section-1">
            <h4 class="prelast-h4">Section number 1</h4>
            <ul class="prelast-ul">
                <li>But I must explain to you how</li>
                <li>Mistalen idea of denouncing</li>
                <li>Praising pair was born</li>
                <li>Account of the system</li>
                <li>Great explorer of the truth</li>
                <li>No one rejects, dislikes</li>
                <li>Mistaken idea of denouncing</li>
                <li>Praising pair was born</li>
            </ul>
        </div>
        <div class="prelast-section-2">
            <h4 class="prelast-h4">Section number 2</h4>
            <ul class="prelast-ul">
                <li>But I must explain to you how</li>
                <li>Mistalen idea of denouncing</li>
                <li>Praising pair was born</li>
                <li>Account of the system</li>
                <li>Great explorer of the truth</li>
                <li>No one rejects, dislikes</li>
                <li>Mistaken idea of denouncing</li>
                <li>Praising pair was born</li>
            </ul>
        </div>
        <div class="prelast-section-3">
            <h4 class="prelast-h4">Section number 3</h4>
            <ul class="prelast-ul">
                <li>But I must explain to you how</li>
                <li>Mistalen idea of denouncing</li>
                <li>Praising pair was born</li>
                <li>Account of the system</li>
                <li>Great explorer of the truth</li>
                <li>No one rejects, dislikes</li>
                <li>Mistaken idea of denouncing</li>
                <li>Praising pair was born</li>
            </ul>
        </div>
        <div class="prelast-section-4">
            <h4 class="prelast-h4">Section number 4</h4>
            <ul class="prelast-ul">
                <li>But I must explain to you how</li>
                <li>Mistalen idea of denouncing</li>
                <li>Praising pair was born</li>
                <li>Account of the system</li>
                <li>Great explorer of the truth</li>
                <li>No one rejects, dislikes</li>
                <li>Mistaken idea of denouncing</li>
                <li>Praising pair was born</li>
            </ul>
        </div>
    </div>
</div>
<div class="lt-icons">
    <div class="lt-bg-icon">
        <hr class="lt-hr">
        <p class="lt-icon-1">Copyright B&#9400; 2023 BlueEssaySite.net<br> All rights reserved.</p>
        <img class="lt-social" src="assets/img/social.png" alt="">
        <div class="lt-phone-number">
            <img class="lt-img-1" src="assets/img/number.png" alt="">
            <p class="lt-text-1">Toll free:<br> <b>+ 3 044 111 2732</b></p>
        </div>
        <div class="lt-email">
            <img class="lt-img-2" src="assets/img/email.png" alt="">
            <p class="lt-text-2">Email:<br> blueessaysite@gmail.com</p>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>